.InfoCard{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
}
.infoHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infoHead>svg{
    cursor: pointer;
}
.Logout-btn{
    margin-top: 6rem;
    align-self: flex-end;
}